:root {
    --color-accent: #2196F3;
    --text-color: #212121;
    --description-color: #757575;
    --main-background: #fff;
    --main-team: #F5F4FA;
    --footer-background: #2F303A;
    --header-text: #000;
    --footer-number: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* Header */


.logo-span {
    color: var(--color-accent);
}

.header-logo {
    color: var(--color-accent);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-span {
    color: var(--header-text);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-link {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.active{
    color: var(--color-accent);
}
.nav-link:hover {
    color: var(--color-accent);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}


.header-link {
    color: var(--description-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-accent);
}


/* Footer */


.footer {
    background: var(--footer-background);
}

.footer-logo {
    color: var(--main-background);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-span {
    color: var(--color-accent);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address-link {
    color: var(--main-background);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.address-citation {
    color: var(--footer-number);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}