:root {
    --color-accent: #2196F3;
    --text-color: #212121;
    --description-color: #757575;
    --main-background: #fff;
    --main-team: #F5F4FA;
    --footer-background: #2F303A;
    --header-text: #000;
    --footer-number: rgba(255, 255, 255, 0.6);
    --card-item: #EEE;
    --comand-svg: #AFB1B8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto";
}

/* Container */
.container {
    outline: 1px solid red;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* Header */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.box {
    display: flex;
    align-items: center;

}

.logo-span {
    color: var(--color-accent);
}

.header-logo {
    color: var(--color-accent);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}
.header-logo:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
}
.header-nav {
    margin-right: auto;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.logo-span {
    color: var(--header-text);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-link {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.nav-link:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
}
.active {
    color: var(--color-accent);


}

.active::after {
    content: "";
    display: block;
    border-radius: 2px;
    background-color: var(--color-accent);
    width: 100%;
    height: 4px;
    position: absolute;
    top: 55px;
    left: 0;
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.active:hover::after{
    opacity: 1;
}

.nav-link:hover {
    color: var(--color-accent);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-svg {
    fill: var(--description-color);
    width: 16px;
    height: 12px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.header-item:nth-child(2) .header-svg {
    width: 10px;
    height: 16px;
}

.header-item {}

.header-link {
    color: var(--description-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.header-link:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
}
.header-item:hover {
    .header-link {
        color: var(--color-accent);
    }

    .header-svg {
        fill: var(--color-accent);
    }
}
.header-line {
    width: 1600px;
    height: 1px;
    background: #ECECEC;
    margin-top: 32px;
}

/* Btn */

.btn {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-item {
    margin-right: 8px;
}

.btn-btn {
    background-color: var(--main-team);
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    padding: 6px 22px;
    border: 0;
    border-radius: 5px;

    transition-property: var(--color-accent);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    ;
    transition-delay: 0;
}
.btn-btn:hover {
    background: var(--color-accent);
    border: 0;
    color: var(--main-background);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);


}
.btn-btn:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
    transition-property: none;
        
}


/* Cards */
.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.card-item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    ;
    transition-delay: 0;
}

.card-item:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

    .item-box {
        opacity: 1;
    }
}



.card-img {
    width: 100%;
}

.card-box {
    padding: 20px 24px;
    border: 1px solid var(--card-item);
    background: var(--main-background);
    text-align: left;
    overflow: hidden;
}

.card-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    /* 200% */
    letter-spacing: 1.08px;
}

.card-text {
    color: var(--description-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
    margin-top: 4px;
}

.item-box {
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.90);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 63px 24px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;
    overflow: hidden;
}

.box-text {
    width: 322px;
    color: var(--main-background);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
    text-align: left;
}

/* Footer */

.footer {
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box {
    display: flex;
    gap: 70px;
}

.footer-logo {
    color: var(--main-background);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}
.footer-logo:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
}
.footer-span {
    color: var(--color-accent);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-manager {}

.address {
    margin-top: 20px;
    font-style: normal;
}

.address-link {
    color: var(--main-background);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;

}
.address-link:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
}
.adres-list {
    margin-top: 9px;
    /* display: flex;
    flex-direction: column;
    gap: 9px; */
}

.address-item:nth-child(1) {
    margin-bottom: 9px;

}

.address-citation {
    color: var(--footer-number);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}
.address-citation:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
}
.footer-subtitle {
    color: var(--main-background);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    gap: 10px;
}

.footer-social {
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.footer-social:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 50%;
}
.footer-social:hover {
    background-color: var(--color-accent);
}

.footer-svg {
    width: 20px;
    height: 20px;
    fill: var(--main-background);
}

.footer-bboxx {
    margin-right: 93px;
}

.footer-title {
    color: #FFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}

.footer-form {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-input {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 358px;
    margin-right: 12px;
}
.footer-input:focus{
    border: none;
    outline: 3px solid var(--color-accent);
    border-radius: 1px;
}
.footer-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    background: var(--color-accent);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-background);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-button:focus{
    border: none;
    outline: 3px solid var(--comand-svg);
    border-radius: 1px;
}
.footer-svgg {
    width: 24px;
    height: 24px;
    fill: var(--main-background);

}