:root {
    --color-accent: #2196F3;
    --text-color: #212121;
    --description-color: #757575;
    --main-background: #fff;
    --main-team: #F5F4FA;
    --footer-background: #2F303A;
    --header-text: #000;
    --footer-number: rgba(255, 255, 255, 0.6);
    --card-item: #EEE;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


/* Container */
.container {
    outline: 1px solid red;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.box {
    display: flex;
    align-items: center;

}

.logo-span {
    color: var(--color-accent);
}

.header-logo {
    color: var(--color-accent);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.logo-span {
    color: var(--header-text);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-list {
    margin-right: 344px;
}

.nav-link {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.active {
    color: var(--color-accent);
}

.nav-link:hover {
    color: var(--color-accent);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}


.header-link {
    color: var(--description-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;

}

.header-link:hover,
.header-link:focus {
    color: var(--color-accent);
}




/* Btn */

.btn {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.btn-list {
    display: flex;

}

.btn-item {
    margin-right: 8px;
}

.btn-btn {
    color: var(--text-color);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
    letter-spacing: 0.48px;
}

.btn-btn:hover {
    background: var(--color-accent);
    border-radius: 4px;
    border: 4px solid var(--color-accent);
    /* shadow-middle */
    /* box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);*/
}

/* Cards */
.card-item {
    width: 370px;
    height: 404px;
    border: 1px solid var(--card-item);
    background: var(--main-background);
}

.card-img {
    width: 370px;
    height: 294px;
}

.card-title {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    /* 200% */
    letter-spacing: 1.08px;
}

.card-text {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.48px;
}

/* Footer */


.footer {
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--main-background);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-span {
    color: var(--color-accent);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address-link {
    color: var(--main-background);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.address-citation {
    color: var(--footer-number);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}