:root {
    --color-accent: #2196F3;
    --text-color: #212121;
    --description-color: #757575;
    --main-background: #fff;
    --main-team: #F5F4FA;
    --footer-background: #2F303A;
    --header-text: #000;
    --footer-number: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


/* Container */
.container {
    outline: 1px solid red;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.box {
    display: flex;
    align-items: center;

}

.logo-span {
    color: var(--color-accent);
}

.header-logo {
    color: var(--color-accent);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.header-list {
    display: flex;
    gap: 50px;
}

.logo-span {
    color: var(--header-text);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-list {
    margin-right: 344px;
}

.nav-link {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.active {
    color: var(--color-accent);
}

.nav-link:hover {
    color: var(--color-accent);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}


.header-link {
    color: var(--description-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;

}

.header-link:hover,
.header-link:focus {
    color: var(--color-accent);
}

/* Hero */

.hero {
    background-color: var(--footer-background);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: url(../img/hero-bc.jpg);
    background-size: cover;
}

.hero-title {
    color: var(--main-background);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-button {
    background: var(--color-accent);
    border-radius: 4px;
    border: var(--color-accent);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--main-background);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    /* 187.5% */
    letter-spacing: 0.96px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
}


/* Advantages */

.advantages {
    padding-top: 94px;

}

.advantages-list {
    display: flex;
    gap: 30px;
}

.advantages-item {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    /* display: flex; */
}

.advantages-item::before {
    content: "";
    border-radius: 4px;
    background: var(--main-team);
    width: 270px;
    height: 120px;
    display: block;
    background-image: url(../img/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.advantages-item:nth-child(2):before {
    background-image: url(../img/clock.png);
}

.advantages-item:nth-child(3):before {
    background-image: url(../img/diagram.png);
}

.advantages-item:nth-child(4):before {
    background-image: url(../img/astronaut.png);
}

.advantages-title {
    margin-bottom: 10px;
}

.advantages-text {
    color: var(--description-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
    width: 270px;
}


/* Work */

.work {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.work-title {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
    flex-grow: 2;

}

.work-item {
    flex-basis: calc((100% - 60px) / 3);
}

.work-img {
    width: 100%;
}

/* Comand */


.comand {
    background: var(--main-team);
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.comand-title {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.comand-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.comand-item {
    width: 270px;
    /* height: 368px; */
    border: 1px;
    background: #FFF;
    flex-basis: calc((100% - 60px) / 3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.comand-img {
    width: 100%;
}

.comand-box {
    padding-top: 30px;
    padding-bottom: 30px;

}

.comand-subtitle {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    /* margin-top: 30px; */
    text-align: center;
}

.comand-text {
    color: var(--description-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
    text-align: center;
}


/* Footer */

.footer {
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--main-background);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}

.footer-span {
    color: var(--color-accent);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address {
    margin-top: 20px;
    font-style: normal;
}

.address-link {
    color: var(--main-background);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;

}

.adres-list {
    margin-top: 9px;
    /* display: flex;
    flex-direction: column;
    gap: 9px; */
}

.address-item:nth-child(1) {
    margin-bottom: 9px;
}

.address-citation {
    color: var(--footer-number);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}