*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  outline: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__list .header__item .header__link:focus .header__cell, .header__nav .nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer__title, .work__text, .advantages__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer .address__link, .advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__logo .logo__span {
  color: #2196F3;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.header__logo:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
}
.header__nav .nav__list {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__nav .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav .nav__list {
    display: flex;
    gap: 50px;
  }
}
.header__nav .nav__link {
  color: #212121;
  font-family: "Roboto", sans-serif;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav .nav__link:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
  color: #2196F3;
}
.header__nav .nav__link:hover {
  color: #2196F3;
}
.header__list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    flex-direction: row;
  }
}
.header__list .header__item .header__link {
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto";
}
.header__list .header__item .header__link:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
  color: #2196F3;
}
.header__list .header__item .header__link:focus .header__svg {
  fill: #2196F3;
}
.header__list .header__item .header__link:focus .header__cell {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .header__list .header__item .header__link:focus {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.header__list .header__item .header__link:hover, .header__list .header__item .header__link:focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #2196F3;
}
.header__list .header__item .header__link:hover .header__svg, .header__list .header__item .header__link:focus .header__svg {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__list .header__item .header__svg {
  fill: #757575;
  width: 100%;
  height: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .header__list .header__item .header__svg {
    width: 16px;
    height: 12px;
  }
}
@media screen and (min-width: 768px) {
  .header__list .header__item .header__svg {
    width: 16px;
    height: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list .header__item .header__svg {
    width: 16px;
    height: 12px;
  }
}
.header__list .header__svg:nth-child(2) {
  width: auto;
  height: auto;
}
@media screen and (min-width: 480px) {
  .header__list .header__svg:nth-child(2) {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header__list .header__svg:nth-child(2) {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list .header__svg:nth-child(2) {
    width: 10px;
    height: 16px;
  }
}
.header .header__item:last-child .header__svg {
  width: 10px;
  height: 16px;
}
.header .active {
  color: #2196F3;
}
.header .active::after {
  content: "";
  display: block;
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 47px;
  left: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .active:hover::after {
  opacity: 1;
}

.header__btn {
  margin-left: auto;
  background: none;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn {
    display: none;
  }
}

.header__menu {
  width: 40px;
  height: 40px;
  fill: #000;
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  transition: opacity 250ms cubic-bezier(1, -0.06, 0.81, 0.29);
  z-index: 3;
}

.mobile__cerrar {
  background: none;
  border: transparent;
  position: absolute;
  right: 15px;
}

.close {
  width: 40px;
  height: 40px;
}

.mobile__list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.mobile__text {
  color: #212121;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.mobile__text:hover {
  color: #2196F3;
}

.mobile__item:nth-child(3) {
  margin-bottom: 152px;
}

.mobile__text:nth-child(4) {
  color: #2196F3;
  font-family: "Roboto";
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
}

.mobile__text:nth-child(5) {
  color: #757575;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.mobile__lest {
  margin-top: 64px;
  display: flex;
  gap: 10px;
}

.item__text {
  color: #2196F3;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.lest__item > div {
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer__title, .work__text, .advantages__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer .address__link, .advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.hero {
  background-color: #2F303A;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__button {
  background: #2196F3;
  border-radius: 4px;
  border: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  font-family: "Roboto", sans-serif;
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}
.hero__button:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
  color: #fff;
  background: #2196F3;
}

.advantages {
  padding-top: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
  }
}
.advantages__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
}
.advantages__item {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
}
.advantages__item::before {
  content: "";
  border-radius: 4px;
  background: #F5F4FA;
  width: 100%;
  height: 120px;
  display: block;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .advantages__item::before {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    width: 270px;
    height: 120px;
  }
}
.advantages__item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.advantages__item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}
.advantages__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: start;
  }
}
.advantages__text {
  color: #757575;
  width: 100%;
  text-align: start;
}
@media screen and (min-width: 480px) {
  .advantages__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
  }
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer__title, .work__text, .advantages__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer .address__link, .advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    display: block;
  }
}
.work__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
  flex-grow: 2;
}
.work__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.work__img {
  width: 100%;
}
.work__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}
.work__text {
  color: #fff;
  text-align: center;
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer__title, .advantages__title, .work__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer .address__link, .advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.comand {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
}
.comand__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .comand__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
  }
}
.comand__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .comand__list {
    flex-wrap: nowrap;
  }
}
.comand__item {
  width: 450px;
  /* height: 622px; */
  border: 1px;
  background: #fff;
  flex-basis: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .comand__item {
    flex-basis: calc((100% - 30px) / 2);
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .comand__item {
    flex-basis: calc((100% - 90px) / 4);
    width: 270px;
  }
}
.comand__img {
  width: 100%;
}
.comand__box {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .comand__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.comand__subtitle {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .comand__subtitle {
    line-height: 1.18;
  }
}
.comand__text {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .comand__text {
    line-height: 1.18;
  }
}
.comand__lest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: flex-start;
  flex-direction: flex-start;
  gap: 10px;
}
.comand__lenk {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.comand__lenk:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 50%;
  background-color: #2196F3;
}
.comand__lenk:focus .comand__svg {
  fill: #fff;
}
.comand__lenk:hover {
  background-color: #2196F3;
}
.comand__lenk:hover .comand__svg {
  fill: #fff;
}
.comand__svg {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer__title, .advantages__title, .work__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer .address__link, .advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    justify-content: space-between;
    gap: 0;
  }
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__item:hover,
.clients :focus {
  border: none;
  outline: 2px solid #2196F3;
  border-radius: 1px;
}
.clients__item:hover .clients__link,
.clients :focus .clients__link {
  border-color: #2196F3;
}
.clients__item:hover .clients__svg,
.clients :focus .clients__svg {
  fill: #2196F3;
}
.clients__link {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  height: 92px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__svg {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer__title, .advantages__title, .work__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer .address__link, .advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    align-items: first baseline;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    width: 235px;
  }
}
.footer .footer__logo {
  color: #fff;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .footer .footer__logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }
}
.footer .footer__logo:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
}
.footer__span {
  color: #2196F3;
}
.footer .address {
  font-style: normal;
  margin-top: 20px;
}
.footer .address__link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.footer .address__link:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
}
.footer .address__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: flex-start;
  gap: 9px;
  margin-top: 9px;
}
.footer .address__item:nth-child(1) {
  margin-bottom: 9px;
}
.footer .address__citation {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.footer .address__citation:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
}
@media screen and (min-width: 768px) {
  .footer__boxx {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__boxx {
    margin-left: 70px;
  }
}
.footer__subtitle {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__subtitle {
    line-height: 1.14;
  }
}
.footer__list {
  display: flex;
  gap: 9px;
  margin-top: 9px;
  justify-content: center;
}
.footer__svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__title {
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__bboxx {
    margin-left: auto;
  }
}
.footer__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    gap: 12px;
  }
}
.footer__input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__input:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
}
.footer__button {
  color: #fff;
  background-color: #2196F3;
  padding: 10px 31px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    padding: 10px 28px;
  }
}
.footer__button:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
  background-color: #2196F3;
  color: #fff;
}
.footer__svgg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.footer__social {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 50%;
  background-color: #2196F3;
}
.footer__social:hover {
  background-color: #2196F3;
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.advantages__title, .work__text, .footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages__text, .footer .address__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is__hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal__title {
    line-height: 1.5;
  }
}
.modal__label {
  width: 448px;
  height: 40px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.modal__label:nth-child(5) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__input:hover, .modal__input:focus {
  border: none;
  outline: 1px solid #2196F3;
}
.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg {
  fill: #2196F3;
}
.modal__textarea {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  display: block;
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__textarea:focus {
  border: none;
  outline: 1px solid #2196F3;
}
.modal__checkbox {
  width: 16px;
  height: 15px;
}
.modal__checkbox:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
}
.modal__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-left: 8px;
}
@media screen and (min-width: 480px) {
  .modal__text {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
  }
}
.modal__span {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  margin-left: 5px;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .modal__span {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
  }
}
.modal__box {
  position: relative;
}
.modal__svg {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__button {
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal__button:focus {
  border: none;
  outline: 3px solid #AFB1B8;
  border-radius: 1px;
  background: #2196F3;
  color: #fff;
}
.modal .form__close {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background: 0;
  position: absolute;
  top: 16px;
  right: 16px;
}
.modal .form__close:hover .close, .modal .form__close:focus .close {
  fill: #2196F3;
  cursor: pointer;
}
.modal .form__close .close {
  width: 11px;
  height: 11px;
  fill: #000;
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.advantages__title, .work__text, .footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages__text, .footer .address__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__logo .logo__span {
  color: #2196F3;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.header__logo:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
}
.header__nav .nav__list {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__nav .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav .nav__list {
    display: flex;
    gap: 50px;
  }
}
.header__nav .nav__link {
  color: #212121;
  font-family: "Roboto", sans-serif;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav .nav__link:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
  color: #2196F3;
}
.header__nav .nav__link:hover {
  color: #2196F3;
}
.header__list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    flex-direction: row;
  }
}
.header__list .header__item .header__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto";
  font-weight: 500;
}
.header__list .header__item .header__link:focus {
  border: none;
  outline: 3px solid #2196F3;
  border-radius: 1px;
  color: #2196F3;
}
.header__list .header__item .header__link:focus .header__svg {
  fill: #2196F3;
}
.header__list .header__item .header__link:focus .header__cell {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .header__list .header__item .header__link:focus {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.header__list .header__item .header__link:hover, .header__list .header__item .header__link:focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #2196F3;
}
.header__list .header__item .header__link:hover .header__svg, .header__list .header__item .header__link:focus .header__svg {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__list .header__item .header__svg {
  fill: #757575;
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__list .header__svg:nth-child(2) {
  width: 10px;
  height: 16px;
}
.header .header__item:last-child .header__svg {
  width: 10px;
  height: 16px;
}
.header .active {
  color: #2196F3;
}
.header .active::after {
  content: "";
  display: block;
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 47px;
  left: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .active:hover::after {
  opacity: 1;
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.advantages__title, .work__text, .footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages__text, .footer .address__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.btn {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .btn {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.btn__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: flex-start;
  flex-direction: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: left;
}
@media screen and (min-width: 768px) {
  .btn__list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn__list {
    justify-content: center;
  }
}
.btn__btn {
  background-color: #F5F4FA;
  color: #212121;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  padding: 6px 25px;
  border: 0;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
@media screen and (min-width: 768px) {
  .btn__btn {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn__btn {
    padding: 6px 22px;
    text-align: center;
  }
}
.btn__btn:hover,
.btn__btn :focus {
  background: #2196F3;
  border: none;
  color: #fff;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.footer__span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header__nav .nav__link, .header__list .header__item .header__link:focus .header__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.advantages__title, .work__text, .footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.advantages__text, .footer .address__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.modal__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card__item {
  flex-basis: calc((100% - 0px) / 1);
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.card__img {
  width: 100%;
  display: block;
}
.card__box {
  padding: 20px 24px;
  border: 1px solid #eee;
  background: #fff;
  text-align: left;
  overflow: hidden;
  z-index: 2;
  position: relative;
}
@media screen and (min-width: 480px) {
  .card__box {
    padding-bottom: 20px;
  }
}
.card__box:nth-child(2) {
  color: #212121;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  font-style: normal;
}
.card__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.card__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
  margin-top: 4px;
}
.card .item__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .card .item__box {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card .item__box {
    padding: 63px 24px;
  }
}
.card .box__text {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-align: left;
}
.card__item:hover .item__box {
  opacity: 1;
  transform: translateY(0);
}
.card .box__text {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-align: left;
}/*# sourceMappingURL=main.css.map */