@import '../utils/placeholder';
@import '../utils/mixin';
.header {
    padding-top: 24px;
    padding-bottom: 25px;
  
    &__logo {
      color: $color-accent;
      @extend %font;
      margin-right: 93px;
  
      .logo__span {
        color: $header-text;
        @extend %font;
      }
  
      &:focus {
        border: none;
        outline: 3px solid $color-accent;
        border-radius: 1px;
      }
    }
  
    &__nav {
      margin-right: auto;
  
      .nav__list {
        display: flex;
        gap: 50px;
      }
  
      .nav__link {
        color: $text-color;
        font-family: "Roboto", sans-serif;
        @extend %text;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
        &:focus {
          border: none;
          outline: 3px solid $color-accent;
          border-radius: 1px;
          color: $color-accent;
        }
  
        &:hover {
          color: $color-accent;
        }
      }
    }
  
    &__list {
      display: flex;
      gap: 50px;
  
      .header__item {
  
        .header__link {
          color: $description-color;
          @extend %text;  
          display: flex;
          align-items: center;
          gap: 10px;
  
          &:focus {
            border: none;
            outline: 3px solid $color-accent;
            border-radius: 1px;
            color: $color-accent;
  
            .header__svg {
              fill: $color-accent;
            }
          }
  
          &:hover,
          &:focus {
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0;
            color: $color-accent;
  
            .header__svg {
              fill: $color-accent;
              transition-property: fill;
              transition-duration: 250ms;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-delay: 0;
            }
          }
        }
  
        .header__svg {
          fill: $description-color;
          width: 16px;
          height: 12px;
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
        }
      }
  
      .header__svg:nth-child(2){
        width: 10px;
        height: 16px;
      }
    }
  
    .box {
      @include flex-box($a: center, $b: center, $c: flex-start, $d: flex-start);
    }
  
    .activee {
      color: $color-accent;
  
      &::after {
        content: "";
        display: block;
        border-radius: 2px;
        background-color: $color-accent;
        width: 100%;
        height: 4px;
        position: absolute;
        top: 55px;
        left: 0;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  
      &:hover::after {
        opacity: 1;
      }
    }
    &__line {
        width: 1600px;
        height: 1px;
        background: #ECECEC;
        margin-top: 32px;
    }
  }